body {
  background-color: #EA3877;
  color: #D0F83B;
  
}

address {
  float: right;
  padding: 1em;
  font-size: 20px;
}

/*.education > li {
  display: inline-block;
}

.ibm > li {
  display: inline-block;
}

.apple > li {
  display: inline-block;
}*/

/*table, th, td {
    border: 1px solid gray;
}*/
.ucla {
  text-align: center;
}

table {
  padding-top: 3em;
  padding-right: 1em;
  margin-top: 2em;
  margin-right: 2em;
  margin-left: 2em;

}

.skills > li {
  margin-left: 0.5em;
  display: inline;
  font-size: 50px;
  text-shadow: 2px 2px #465800;
  }

footer {
  float: right;
  padding: 1em;
}